
@{
    ViewBag.Title = "CompraCancelada";
    Layout = "~/Views/Shared/Pagina_Usuario.cshtml";
}

<h2>CompraCancelada</h2>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Compra Cancelada</h2>
            <p>@ViewBag.mensaje</p>
        </div>
    </div>
</div>
