@{
    ViewBag.Title = "Confirmación de Compra";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Ajusta la ruta según tu estructura de archivos
}

<h2>¡Compra realizada con éxito!</h2>

<p>Gracias por tu compra. Tu pedido ha sido procesado correctamente.</p>

<a href="@Url.Action("Index", "Home")" class="btn btn-primary">Ir a la página de inicio</a>
